/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target
.lein*
.repl
.nrepl-port
/checkouts/
.idea/
/.DS_Store
.DS_Store
closure
/pom.xml
.repl*
*.swp
*.zip
clojurescript_release_*
closure-release-*
.nrepl-repl-history
builds
node_modules
nashorn_code_cache
